@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body{
    font-family: 'Rubik', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Barre De navigation */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    
}
nav h1{
    font-size: 24px;
}
nav .onglets{
    display: flex;
    flex-wrap: wrap;
}
nav .onglets p{
    font-size: 17px;
    margin-right: 10px;
    cursor: pointer;

}
nav .onglets input{
    margin: 15px 20px;
    padding: 9px;
    border-radius: 5px;
    background-color: #f2f2f2;
    outline: none;
    border: none;

}
/* Fin De naigation */

/* Header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
header h1{
    font-size: 30px;
    max-width: 500px;
    text-align: center;

}

header button{
    padding: 9px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
/*  Fin Du Header */

/* Primaire */
.main{
    margin: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* Presnetation */
.cards{
    display: flex;
    flex-wrap: wrap;
}
.cards .card{
    margin-right: 20px;
    cursor: pointer;
}
.cards .card img{
    width: 350px;
}
.cards .card .card-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*  fin de la Presnetation */

/* fin prmr */